@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../font/LucidaSansUnicode.eot');
    src: url('../font/LucidaSansUnicode.eot?#iefix') format('embedded-opentype'),
    url('../font/LucidaSansUnicode.woff2') format('woff2'),
    url('../font/LucidaSansUnicode.woff') format('woff'),
    url('../font/LucidaSansUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}