
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title">Архив</h4>
</div>
<div class="row modal-body">
    <div class="col-md-8 left-bar" id="archivecontainer">

        <div class="row">
            <div class="col-md-7 col-sm-8 col-xs-12 left-item">
                <ul>
                    <li>
                        <a href="#"><img border="0" src="img/modal-1.jpg" /></a>
                        <div class="text">
                            <a href="#">День электрика</a>
                            <p> Текст: Тарас Козуб </p>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img border="0" src="img/modal-2.jpg" /></a>
                        <div class="text">
                            <a href="#">К нам едет ревизор</a>
                            <p> Текст: Василий Яценко </p>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img border="0" src="img/modal-3.jpg" /></a>
                        <div class="text">
                            <a href="#">Недетский выбор</a>
                            <p> Текст: Наталия Судакова </p>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img border="0" src="img/modal-4.jpg" /></a>
                        <div class="text">
                            <a href="#">Давайте пересчитаем</a>
                            <p> Текст: Игорь Бурдыга </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 col-sm-4 col-xs-12 right-item">
                <div class="in-paper">
                    <ul>
                        <li><a href="#">Новый старый оклад</a></li>
                        <li><a href="#">На связи</a></li>
                        <li><a href="#">Мишельград</a></li>
                        <li><a href="#">Ноль лайков</a></li>
                        <li><a href="#">Фейки и смарты</a></li>
                        <li><a href="#">В твердой памяти</a></li>
                        <li><a href="#">Операция «Евроинтеграция»</a></li>
                        <li><a href="#">Огонь, вода и черные трубы</a></li>
                        <li><a href="#">И все-таки она плоская</a></li>
                        <li><a href="#">Печатно известные</a></li>
                        <li><a href="#">Муза из-под Бердичева</a></li>
                        <li><a href="#">Музыка</a></li>
                        <li><a href="#">Фильмы</a></li>
                        <li><a href="#">Книги</a></li>
                        <li><a href="#">Анонсы</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4 issue-block scroll-class" ng-controller="ReporterScroll">
        <nav du-scroll-container="rcontainer">
            <ul>
                <li><a href="#ayear-2015" du-smooth-scroll du-scrollspy>2015</a></li>
                <li><a href="#ayear-2014" du-smooth-scroll du-scrollspy>2014</a></li>
                <li><a href="#ayear-2013" du-smooth-scroll du-scrollspy>2013</a></li>
            </ul>
        </nav>

        <div class="mmcontainer" id="rcontainer" du-scroll-container>

            <section id="ayear-2015">
                <div class="b-title-center"><span>2015</span></div>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-1.jpg" />
                        <span>№ 41 (105) 27 ноября — 3 декабря 2015</span>
                        <div>День электрика</div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-2.jpg" />
                        <span>№40 (104) 20-26 ноября 2015</span>
                        <div>Пули над Парижем</div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-3.jpg" />
                        <span>№ 39 (103) 13–19 ноября 2015</span>
                        <div>Какими вернутся солдаты</div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-4.jpg" />
                        <span>№ 38 (102) 6–12 ноября 2015</span>
                        <div>Цена кладовки,</div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-5.jpg" />
                        <span>№ 37 (101) 30 октября — 05 ноября 2015</span>
                        <div>Итоги на местах</div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-6.jpg" />
                        <span>№ 36 (100) 23–29 октября 2015</span>
                        <div>Саду цвесть?</div>
                    </div>
                </a>
            </section>

            <section id="ayear-2014">
                <div class="b-title-center"><span>2014</span></div>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-7.jpg" />
                        <span>№46 (64) 26 декабря 2014 - 16 января 2015</span>
                        <div>Война или мир</div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-8.jpg" />
                        <span>№45 (63) 19-25 декабря 2014</span>
                        <div>Завод и город на границе двух миров</div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-9.jpg" />
                        <span>№44 (62) 12 - 18 декабря 2014</span>
                        <div>Трудно быть богом</div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-10.jpg" />
                        <span>№43 (61) 5 - 11 декабря 2014</span>
                        <div>7 событий недели</div>
                    </div>
                </a>
            </section>

            <section id="ayear-2013">
                <div class="b-title-center"><span>2013</span></div>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-11.jpg" />
                        <span>№42 (60) 28 ноября - 4 декабря 2013</span>
                        <div>Семь букв, последняя ff</div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-12.jpg" />
                        <span>№41 (59) 21 - 27 ноября 2013</span>
                        <div>Бабочка и матросы</div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="issue-number">
                    <div class="issue-number-in">
                        <img src="img/modal-s-13.jpg" />
                        <span>№40 (58) 14 - 20 ноября 2013</span>
                        <div>Министр с образованием</div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="issue-number" ng-class="{'issue-number-active':archNum==2473}" ng-click="getArchPage(2473);archNum=2473;">
                    <div class="issue-number-in">
                        <img src="img/modal-s-14.jpg" />
                        <span>№39 (57) 7 - 13 ноября 2013</span>
                        <div>7 вопросов о свободном курсе гривны</div>
                    </div>
                </a>
            </section>

        </div>
    </div>
</div>

